.container {
  h3 {
    color: #fff;
    display: inline-block;
    margin: 0;
    font-size: 16px;
    font-family: "MuseoSansCyrl-300";
    cursor: pointer;
    transition: .3s ease-in-out;
    text-align: center;

    &:hover {
      color: #b1b1b1;

      &:after {
        transform: scaleX(1);
      }
    }
    &:after {
      display: block;
      content: "";
      border-bottom: solid 1px #3d3d3d;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
  }
}
